body {
  font-family: "Helvetica Neue"
}

.container {
  margin: auto;
  width: 600px;
}

.header {
  padding-left: 10px;
  background-color: #00B060;
  color: white;
  font-style: italic;
}

.auth {
  position: relative;
  width: 600px;
  height: 30px;
  margin-top: -15px;
}

.logout {
  position: absolute;
  right: 0;
  font-size: 12px;
}

.queues {
  margin-top: 20px;
}

input {
  width: 160px;
}
